body {
    color:black;
    
}


.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#ffffff 0,#eee 100%) !important;
    background-image: -o-linear-gradient(top,#ffffff 0,#eee 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    border-radius: 4px;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #1f5fbd !important;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #267af8 !important;
        }

#root > div > nav > div > div.navbar-header > a {
    color: #1f5fbd !important;
}

    #root > div > nav > div > div.navbar-header > a:hover {
        color: #267af8 !important;
    }

#root > div > nav > div > div.navbar-header > button{
    color: navy!important;
    background-color: whitesmoke!important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: navy!important;
}

.toggler {
    color: #1f5fbd !important;
}
